<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cuihai.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="21"  tools:overrideLibrary="androidx.compose.runtime, androidx.compose.ui.tooling.preview, androidx.compose.runtime.rxjava2, androidx.compose.ui, androidx.compose.runtime.livedata, androidx.lifecycle.viewmodel.compose, androidx.compose.material.icons.extended, androidx.compose.ui.platform, androidx.compose.material.icons, androidx.activity.compose, androidx.compose.ui.tooling, androidx.compose.ui.tooling.data, androidx.compose.material.ripple, androidx.compose.foundation, androidx.compose.animation, androidx.compose.foundation.layout, androidx.compose.ui.text, androidx.compose.ui.graphics, androidx.compose.ui.unit, androidx.compose.ui.util, androidx.compose.ui.geometry, androidx.compose.runtime.saveable, androidx.compose.animation.core, androidx.compose.material"/>

    <application></application>

</manifest>